<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Remote</title>
	<script type="text/javascript" src="./assets/plugins/vue/vue.js"></script>
	<script type="text/javascript" src="./assets/plugins/vue/vue-resource.min.js"></script>
	<script type="text/javascript" src="./assets/plugins/vue/filters/vue.pretty-bytes.filter.js"></script>
	<script type="text/javascript" src="./assets/plugins/vue/filters/vue.file-icon.filter.js"></script>
	<script type="text/javascript" src="./assets/plugins/vue/filters/vue.date-ptbr.filter.js"></script>
	<link rel="stylesheet" type="text/css" href="./assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/plugins/bootstrap/css/bootstrap-grid.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/plugins/bootstrap/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/plugins/fontawesome/css/fontawesome-all.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/personalizacao.css">
	<link rel="stylesheet" type="text/css" href="./assets/plugins/icheck/skins/minimal/blue.css">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

	<div class="container">
		<div class="row">
  			<div class="col-md-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb" id="breadcrumb">
						<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
						<li class="breadcrumb-item"><a href="#">Library</a></li>
						<li class="breadcrumb-item active" aria-current="page">{{message}}</li>
					</ol>
				</nav>
  			</div>
		</div>

		<div class="row">
			<div class="col-md-3 offset-md-9">
				<input id="pesquisar" type="text" class="form-control" placeholder="Pesquisar">
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				&nbsp;
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div id="explorador" class="table-responsive-md">
					<table class="table table-fixed table-selected">
						<thead>
							<tr>
								<th class="text-right">
									<input type="checkbox">
								</th>
								<th class="text-left">Nome</th>
								<th class="text-center">Tipo</th>
								<th class="text-center">Tamanho</th>
								<th class="text-center">Alterado em</th>
							</tr>
						</thead>
						<tbody>


							<tr v-for="resource in resources.folders">
						    <td class="text-right">
						      <input type="checkbox">
						    </td>
						    <td class="text-left">
						      <a href="#">
						        <i class="fa fa-folder"></i>
						        {{resource.name}}
						      </a>
						    </td>
						    <td class="text-center">Pasta</td>
						    <td class="text-center"> - </td>
						    <td class="text-center">{{resource.updated_at | datePtBr}}</td>
						  </tr>


							<tr v-for="resource in resources.files">
						    <td class="text-right">
						      <input type="checkbox">
						    </td>
						    <td class="text-left">
						      <a href="#">
						        <i :class="resource.name | fileIcon"></i>
						        {{resource.name}}
						      </a>
						    </td>
						    <td class="text-center">Arquivo</td>
						    <td class="text-center">{{resource.size | prettyBytes}}</td>
						    <td class="text-center">{{resource.updated_at | datePtBr}}</td>
						  </tr>


						</tbody>


						<tfoot>
							<tr>
								<td colspan="5">
									<small class="float-right text-muted">{{resources.folders.length}} pastas e {{resources.files.length}} arquivos.</small>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>



<script type="text/javascript" src="./assets/js/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="./assets/js/popper.min.js"></script>
<script type="text/javascript" src="./assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>

<script type="text/javascript">



var breadcrumb = new Vue({
	el: '#breadcrumb',
	data: {
		message: 'breadcrumb'
	}
});

var explorador = new Vue({
	el: '#explorador',
	data: {
		message: 'explorador',
		resources: {
			folders: [],
			files: []
		}
	},
	created: function(){
		this.getList()
	},
	methods: {
		getList: function(){
			this.$http.get('exemplo.json').then( response => {
			  this.resources = response.data
			});
		}
	}
});

</script>
